.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
}

.organizations-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
    text-align: center;
}

.organizations-table th, .organizations-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.organizations-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
    color: white;
}

.view-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.view-button:hover {
    background-color: #333;
}

.view-organization-button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.view-organization-button:hover {
    background-color: #333;
}
